modules = ["nodejs-24", "python-base-3.13"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "artifacts/i-buk: web"

[[workflows.workflow]]
name = "artifacts/i-buk: web"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "PORT=23263 BASE_PATH=/ pnpm --filter @workspace/i-buk run dev"
waitForPort = 23263

[workflows.workflow.metadata]
outputType = "webview"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[userenv]

[userenv.shared]
VITE_SUPABASE_ANON_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZjbmF1bW1hdmtkY29ycWtyYXpyIiwiaWF0IjoxNzg2NjMzMzA1LCJleHAiOjIxMDIyMDkzMDV9.dS8fheq45XJ9B3KT2B2T-ec-cDgosdxkCadRPyfyt4"
VITE_SUPABASE_URL = "https://fcnaummavkdcorqkrazr.supabase.co"
